body {
  font-family: Arial, Libre Baskerville;
  background-image: url("https://png.pngtree.com/background/20211216/original/pngtree-agricultural-planting-greenhouse-vegetables-photographs-picture-image_1522905.jpg");
  background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: rgba(255, 255, 255, 1.0);
}

main {
    max-width: 1200px;
    width: 90%;
    display: grid;
    place-items: center;
    padding: 40px;
}

.texto {
    font-family: Libre Baskerville; 
    font-size: 30px; 
    display: flex; 
    justify-content: center; 
    align-items:center;
    padding-bottom: 5px;
    white-space: pre-line;
}

fieldset {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    /*background-color: darkblue;*/
    background-color: rgba(110, 120, 130, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.userForm_group {
    margin-bottom: 15px;
    position: relative;
}

.userForm_group label {
    display: block;
    margin-bottom: 5px;
}

.userForm_input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container{
    display: grid;
    place-items: center;
}

.userForm_btn {
    width: 50%;
    background-color: rgba(249, 237, 213);
    border: none;
    border-radius: 9px;
    cursor: pointer;
    padding: 10px;
    margin: 0px;
    font-family: Libre Baskerville;
}

.userForm_btn:hover {
    background-color: #91b2f8;
}

#group_codigo {
    display: none;
    margin-top: 20px;
}

.userForm_label {
    margin-top: 20px;
    font-size: 24px;
    font-family: Libre Baskerville;
}

/* Errores */
.userForm_input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none; /* Desaparece el label */
}

.userForm_input-error-activo {
    display: block; /* Aparece el label */
}

.userForm_validacion-estado {
    display: grid;
    place-items: center;
    font-size: 16px;
    opacity: 0;
}

.userForm_group-incorrecto 
.userForm_label {
    color: #BB2929;
}

.userForm_group-incorrecto 
.userForm_validacion-estado {
    color: #BB2929;
    opacity: 1;
}

.userForm_group-incorrecto 
.userForm_input {
    border: 3px solid #BB2929;
}

/* Validacion */
.userForm_mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.userForm_mensaje-activo {
    display: block;
}

.userForm_mensaje p {
    margin: 0;
}

.userForm_mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.userForm_mensaje-exito-activo {
    display: block;
}

.userForm_group-correcto 
.userForm_validacion-estado {
    color: #1ED12D;
    opacity: 1;
}

.userForm_group-correcto 
.userForm_label {
    color: #1ED12D;
}

.userForm_group-correcto 
.userForm_validacion-estado {
    color: #1ED12D;
    opacity: 1;
}

.userForm_group-correcto 
.userForm_input {
    border: 3px solid #1ED12D;
}

/* Animacion */
/* Definir keyframes para la animación de aparición */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Puedes ajustar la posición inicial */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Posición final */
    }
}

/* Aplicar la animación al elemento */
.fade-in {
    animation: fadeIn 2s ease-in-out; /* Duración y tipo de animación */
    opacity: 0; /* Asegurarse de que el elemento sea invisible al inicio */
    animation-fill-mode: forwards; /* Mantener el estado final de la animación */
}
