body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #bfbfbf83;
}

main {
    max-width: 1200px;
    width: 90%;
    display: grid;
    place-items: center;
    padding: 40px;
}

.texto {
    font-family: Libre Baskerville; 
    font-size: 40px; 
    margin-bottom: 20px; 
    display: flex; 
    justify-content: center; 
    align-items:center;
    
}

fieldset {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.column img { 
    width: 100%; 
    height: 600px; 
} 

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 95%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    background-color: rgba(249, 237, 213, 0.788);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.userForm_group {
    margin-bottom: 15px;
    position: relative;
}

.userForm_group label {
    display: block;
    margin-bottom: 5px;
}

.userForm_input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container{
    display: grid;
    place-items: center;
}

.userForm_btn {
    width: 50%;
    background-color: #263868;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 9px;
    cursor: pointer;
    padding: 10px;
    margin: 0px;
}

.userForm_btn:hover {
    background-color: #91b2f8;
}

#group_codigo {
    display: none;
    margin-top: 20px;
}

.userForm_label {
    margin-top: 20px;
    font-size: 24px;
}

/* Errores */
.userForm_input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none; /* Desaparece el label */
}

.userForm_input-error-activo {
    display: block; /* Aparece el label */
}

.userForm_validacion-estado {
    display: grid;
    place-items: center;
    font-size: 16px;
    opacity: 0;
}

.userForm_group-incorrecto 
.userForm_label {
    color: #BB2929;
}

.userForm_group-incorrecto 
.userForm_validacion-estado {
    color: #BB2929;
    opacity: 1;
}

.userForm_group-incorrecto 
.userForm_input {
    border: 3px solid #BB2929;
}

/* Validacion */
.userForm_mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.userForm_mensaje-activo {
    display: block;
}

.userForm_mensaje p {
    margin: 0;
}

.userForm_mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.userForm_mensaje-exito-activo {
    display: block;
}

.userForm_group-correcto 
.userForm_validacion-estado {
    color: #1ED12D;
    opacity: 1;
}

.userForm_group-correcto 
.userForm_label {
    color: #1ED12D;
}

.userForm_group-correcto 
.userForm_validacion-estado {
    color: #1ED12D;
    opacity: 1;
}

.userForm_group-correcto 
.userForm_input {
    border: 3px solid #1ED12D;
}

/* Columna */
.row::after{
    content: "";
    display: table;
    clear: both;
}
.column{
    float: left;
    width: 50%;
    justify-content: center;
    align-items: center;
}